{% extends "header.html" %}

{% block content %}

    {% if user.is_authenticated %}
        {% if user.pk == pk %}
        <div class="card-body">
            <h5 class="card-title">{{ member.name }}</h5>
                <p class="card-text">
                    <table style="margin-left:auto;margin-right:auto">
                        <tr>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>등록상태</td>
                            <td>{{ member.registrationstatus }}</td>
                        </tr>
                        <tr>
                            <td>연락처</td>
                            <td>{{ member.contactinfo }}</td>
                        </tr>
                        <tr>
                            <td>주소</td>
                            <td>{{ member.address }}</td>
                        </tr>
                        <tr>
                            <td>이메일</td>
                            <td>{{ member.email }}</td>
                        </tr>
                        <tr>
                            <td>전화번호</td>
                            <td>{{ member.phone }}</td>
                        </tr>
                    </table>
                        {% for m in membergrade_list %}
                            {{ m.semester.type }}<br>
                            {% for c in m.courses.all %}
                                {{ c.name }}
                            {% endfor %}
                        {% endfor %}
                </p>
            <a href="/general/editinfo" class="btn btn-primary">수정</a>
            <a href="../" class="btn btn-primary">뒤로</a>
        </div>
        {% endif %}
    {% endif %}

{% endblock %}