<html>

{% load auth_extras %}

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/datatables.min.css' %}"/>


    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/general/displayinfo">기본정보</a>
            </li>
            {% if user|has_group:"Student" %}
            <li class="nav-item">
                <a class="nav-link" href="/general/displaygrades">성적조회</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/general/regcourses">수강신청</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">인강</a>
            </li>
            {% endif %}
            {% if user|has_group:"Professor" %}
            <li class="nav-item">
                <a class="nav-link" href="/general/managegrades">성적관리</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/general/video">인강</a>
            </li>
            {% endif %}
            </ul>
        </div>

        {% block content %}{% endblock %}

    </div>

</html>