{% extends "header.html" %}

{% block content %}

<style>
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
}
</style>

  <div class="card-body">
      <h5 class="card-title">{{ name }}</h5>
          <p class="card-text">

          <table id="managegrades" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>과목</th>
                    <th>학생</th>
                    <th>성적</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
              {% for m in membergrades %}
                  <tr>
                      <td>{{ m.course.name }}</td>
                      {% for i in memberinfo %}
                        {% if i.user.pk == m.user.pk %}
                          <td>{{ i.name }}</td>
                        {% endif %}
                      {% endfor %}
                      <td>{{ m.grade.value }}</td>
                      <td><a href="/general/editgrades/{{ m.pk }}"><i class='far fa-edit'></i></a></td>
                  </tr>
              {% endfor %}
            </tbody>
          </table>



          </p>
      <a href="../" class="btn btn-primary">뒤로</a>
  </div>



{% endblock %}