{% extends "header.html" %}

{% block content %}

<div id="card-body" class="card-body">
        <br><br>
        <video width='400' controls>
        <source src='{{ MEDIA_URL }}1.%20Introduction%20to%20Superposition.mp4' type='video/mp4'>
        Your browser does not support the video tag.
        </video>
        <br><br>
        </p>
        </body>
        <script>'undefined'=== typeof _trfq || (window._trfq = []);'undefined'=== typeof _trfd && (window._trfd=[]),_trfd.push({'tccl.baseHost':'secureserver.net'}),_trfd.push({'ap':'cpsh'},{'server':'p3plcpnl0769'}) // Monitoring performance to make your website faster. If you want to opt-out, please contact web hosting support.</script><script src='https://img1.wsimg.com/tcc/tcc_l.combined.1.0.6.min.js'></script>

    <a href="/general/" class="btn btn-primary">뒤로</a>
</div>

<div id="myModal" class="modal">
    <div class="loader"></div>
</div>
{% endblock %}